{% extends "base.html" %}

{% block content %}
<div>
    <form action="/synthesize" method="post" novalidate>
        <h3>Text to synthesize:</h3><textarea autofocus id="text_to_synthsize" name="text_to_synthsize"></textarea>
        <br>
        <h3>Choose a language model:</h3>
            <select name="voice" id="voice">
                    {% for voice in voice_list %}
                    <option value="{{voice.name}}">
                        {{voice.description}}
                    </option>
                    {% endfor %}
            </select>
        <h3>Choose an audio format:</h3>
            <select name="audio_format" id="audio_format">
            {% for format in audio_format_list %}
            <option value="{{format}}">
                {{format}}
            </option>
            {% endfor %}
            </select>
        <button type="submit"><b>Synthesize Speech</b></button>
    </form>
</div>
{% endblock %}

